xml-resources/web-service-references/WS/wsdl/localhost_8989/WebServiceTarea2/WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p2 (PAYARA-3579-ff11a82; 2019-03-07T10:51:27+0530) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="WS">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:8989/WebServiceTarea2/WS?xsd=1"/>
</xsd:schema>
</types>
<message name="getAdministrador">
<part name="parameters" element="tns:getAdministrador"/>
</message>
<message name="getAdministradorResponse">
<part name="parameters" element="tns:getAdministradorResponse"/>
</message>
<message name="getUsuario">
<part name="parameters" element="tns:getUsuario"/>
</message>
<message name="getUsuarioResponse">
<part name="parameters" element="tns:getUsuarioResponse"/>
</message>
<message name="guardarAdministrador">
<part name="parameters" element="tns:guardarAdministrador"/>
</message>
<message name="guardarAdministradorResponse">
<part name="parameters" element="tns:guardarAdministradorResponse"/>
</message>
<message name="eliminarAdministrador">
<part name="parameters" element="tns:eliminarAdministrador"/>
</message>
<message name="eliminarAdministradorResponse">
<part name="parameters" element="tns:eliminarAdministradorResponse"/>
</message>
<message name="eliminarActividad">
<part name="parameters" element="tns:eliminarActividad"/>
</message>
<message name="eliminarActividadResponse">
<part name="parameters" element="tns:eliminarActividadResponse"/>
</message>
<message name="guardarSeguimiento">
<part name="parameters" element="tns:guardarSeguimiento"/>
</message>
<message name="guardarSeguimientoResponse">
<part name="parameters" element="tns:guardarSeguimientoResponse"/>
</message>
<message name="eliminarSeguimiento">
<part name="parameters" element="tns:eliminarSeguimiento"/>
</message>
<message name="eliminarSeguimientoResponse">
<part name="parameters" element="tns:eliminarSeguimientoResponse"/>
</message>
<message name="guardarActividad">
<part name="parameters" element="tns:guardarActividad"/>
</message>
<message name="guardarActividadResponse">
<part name="parameters" element="tns:guardarActividadResponse"/>
</message>
<message name="guardarProyecto">
<part name="parameters" element="tns:guardarProyecto"/>
</message>
<message name="guardarProyectoResponse">
<part name="parameters" element="tns:guardarProyectoResponse"/>
</message>
<message name="eliminarProyecto">
<part name="parameters" element="tns:eliminarProyecto"/>
</message>
<message name="eliminarProyectoResponse">
<part name="parameters" element="tns:eliminarProyectoResponse"/>
</message>
<message name="getProyecto">
<part name="parameters" element="tns:getProyecto"/>
</message>
<message name="getProyectoResponse">
<part name="parameters" element="tns:getProyectoResponse"/>
</message>
<portType name="WS">
<operation name="getAdministrador">
<input wsam:Action="http://webService/WS/getAdministradorRequest" message="tns:getAdministrador"/>
<output wsam:Action="http://webService/WS/getAdministradorResponse" message="tns:getAdministradorResponse"/>
</operation>
<operation name="getUsuario">
<input wsam:Action="http://webService/WS/getUsuarioRequest" message="tns:getUsuario"/>
<output wsam:Action="http://webService/WS/getUsuarioResponse" message="tns:getUsuarioResponse"/>
</operation>
<operation name="guardarAdministrador">
<input wsam:Action="http://webService/WS/guardarAdministradorRequest" message="tns:guardarAdministrador"/>
<output wsam:Action="http://webService/WS/guardarAdministradorResponse" message="tns:guardarAdministradorResponse"/>
</operation>
<operation name="eliminarAdministrador">
<input wsam:Action="http://webService/WS/eliminarAdministradorRequest" message="tns:eliminarAdministrador"/>
<output wsam:Action="http://webService/WS/eliminarAdministradorResponse" message="tns:eliminarAdministradorResponse"/>
</operation>
<operation name="eliminarActividad">
<input wsam:Action="http://webService/WS/eliminarActividadRequest" message="tns:eliminarActividad"/>
<output wsam:Action="http://webService/WS/eliminarActividadResponse" message="tns:eliminarActividadResponse"/>
</operation>
<operation name="guardarSeguimiento">
<input wsam:Action="http://webService/WS/guardarSeguimientoRequest" message="tns:guardarSeguimiento"/>
<output wsam:Action="http://webService/WS/guardarSeguimientoResponse" message="tns:guardarSeguimientoResponse"/>
</operation>
<operation name="eliminarSeguimiento">
<input wsam:Action="http://webService/WS/eliminarSeguimientoRequest" message="tns:eliminarSeguimiento"/>
<output wsam:Action="http://webService/WS/eliminarSeguimientoResponse" message="tns:eliminarSeguimientoResponse"/>
</operation>
<operation name="guardarActividad">
<input wsam:Action="http://webService/WS/guardarActividadRequest" message="tns:guardarActividad"/>
<output wsam:Action="http://webService/WS/guardarActividadResponse" message="tns:guardarActividadResponse"/>
</operation>
<operation name="guardarProyecto">
<input wsam:Action="http://webService/WS/guardarProyectoRequest" message="tns:guardarProyecto"/>
<output wsam:Action="http://webService/WS/guardarProyectoResponse" message="tns:guardarProyectoResponse"/>
</operation>
<operation name="eliminarProyecto">
<input wsam:Action="http://webService/WS/eliminarProyectoRequest" message="tns:eliminarProyecto"/>
<output wsam:Action="http://webService/WS/eliminarProyectoResponse" message="tns:eliminarProyectoResponse"/>
</operation>
<operation name="getProyecto">
<input wsam:Action="http://webService/WS/getProyectoRequest" message="tns:getProyecto"/>
<output wsam:Action="http://webService/WS/getProyectoResponse" message="tns:getProyectoResponse"/>
</operation>
</portType>
<binding name="WSPortBinding" type="tns:WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarSeguimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarSeguimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="guardarProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProyecto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS">
<port name="WSPort" binding="tns:WSPortBinding">
<soap:address location="http://localhost:8989/WebServiceTarea2/WS"/>
</port>
</service>
</definitions>